.my-5.space-y-5{ id: "#{dom_id post}" }
  %div
    %strong.block.font-medium.mb-1 Text:
    = post.text
  %div
    %strong.block.font-medium.mb-1 Mastodon:
    = post.mastodon
  %div
    %strong.block.font-medium.mb-1 Bluesky:
    = post.bluesky
  %div
    %strong.block.font-medium.mb-1 Threads:
    = post.threads
  %div
    %strong.block.font-medium.mb-1 X:
    = post.x
  %div
    %strong.block.font-medium.mb-1 Facebook:
    = post.facebook
  %div
    %strong.block.font-medium.mb-1 Tumblr:
    = post.tumblr
  %div
    %strong.block.font-medium.mb-1 Dreamwidth:
    = post.dreamwidth
  %div
    %strong.block.font-medium.mb-1 Pillowfort:
    = post.pillowfort
  %div
    %strong.block.font-medium.mb-1 Ready:
    = post.ready? ? "Yes" : "No"
