<div id="<%= dom_id post %>" class="my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Text:</strong>
    <%= post.text %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Mastodon:</strong>
    <%= post.mastodon %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Bluesky:</strong>
    <%= post.bluesky %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Threads:</strong>
    <%= post.threads %>
  </div>
  <div>
    <strong class="block font-medium mb-1">X:</strong>
    <%= post.x %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Facebook:</strong>
    <%= post.facebook %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Tumblr:</strong>
    <%= post.tumblr %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Dreamwidth:</strong>
    <%= post.dreamwidth %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Pillowfort:</strong>
    <%= post.pillowfort %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Ready:</strong>
    <%= post.ready? ? "Yes" : "No" %>
  </div>
</div>
